nuxeo-platform-oauth2/src/main/resources/schemas/oauth2token.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/oauth/token"
  xmlns:oauthtoken="http://nuxeo.org/schemas/oauth/tokennamespace">

  <xs:element name="id" type="xs:integer"/>
  <xs:element name="serviceName" type="xs:string"/>
  <xs:element name="accessToken" type="xs:string"/>
  <xs:element name="refreshToken" type="xs:string"/>
  <xs:element name="nuxeoLogin" type="xs:string"/>

  <xs:element name="expirationTimeMilliseconds" type="xs:integer"/>
  <xs:element name="creationDate" type="xs:date"/>
	
</xs:schema>
